.carousel-images {
    padding-top: .8rem;
    margin: 0;
}

.carousel {
    margin: auto;
    width: 80vw;
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .carousel {
        width: 85vw;
    }
}

@media screen and (min-width: 625px) {
    .carousel {
        width: 87vw;
    }
}

@media screen and (min-width: 750px) {
    .carousel {
        width: 50vw;
    }
}

.container-items {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.container-items img {
    width: calc(100% / 2 - 2em);
}

.carousel ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.dot {
    display: flex;
    width: .8rem;
    height: .2rem;
    background-color: var(--gray);
    margin: .2em;
    
}

.dot.activo {
    background-color: yellow;
}