.header-top {
    margin: 0px 1rem 0px 1rem;
    max-width: 890px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2rem;
    font-size: 0.60em;
    color: #999999;
    font-weight: 600;
}

.login {
    display: none;
    margin-right: 1.7rem;
}

section hr {
    height: 0.1rem;
    max-width: 100%;
    border: 0;
}

.first-hr {    
    background-image: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary));
}

.second-hr {    
    background-image: linear-gradient(to right, var(--gray), var(--gray2), var(--gray));
}

.facebook {
    width: 12px;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
    padding: .25rem;    
    border-radius: 50%;
    transition: background-color .3s ease;
}

.facebook:hover {
    background-color: #466bbc;
}

hr {
    margin: 0;
}

@media screen and (min-width: 600px) {
    .facebook {
    margin: 0 1rem 0 1rem;
    }
}

@media screen and (min-width: 990px) {
    .header-top {
        margin: auto;
        max-width: 900px;
    }

    .login {
        display: block;
        cursor: pointer;
    }

    .facebook {
        margin: 0 0 0 1rem;
    }
}

@media screen and (min-width: 1150px) {
    .header-top {
        max-width: 1085px;
    }
}