.header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem 0 1.5rem;
}

.header-right {
    cursor: pointer;
    margin-right: 0;
}

.header-center {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.btn-bag {
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

.btn-bag::after {
    content: "v";
    position: relative;
    bottom: 3px;
    right: 10px;
    font-size: .8rem;
    color: #777;
}

.count-bag {
    color: var(--white);
    position: relative;
    padding: 0 5px 0 5px;
    background-color: red;
    border-radius: 50%;
    bottom: 7px;
    right: 10px;
    font-size: .7rem;
}

.header-center input {
    display: none;
    background-color: #efeeef;
    color: #777;
    border: #fff;
    height: 35px;
    width: 282px;
    padding: 0 15px 0 20px;
    border-radius: 20px 0 0 20px;
    border-right: 1px solid var(--white);
    font-size: .8rem;
}

.search-btn {
    width: 20px;
}

.telegram {
    display: none;
}

.telegram span {
    font-size: .7rem;
}

.logo {
    width: 45px;
}

.logo-largo {
    display: none;
}

.header-right::before {
    content: "☰";
    position: relative;
    bottom: 17px;
    font-size: 1rem;
    font-weight: bold;
}  

.bag {
    width: 15px;
}

.header-center button {
    border: none;
    cursor: pointer;
    background-color: var(--white);
}

.header-center input:focus {
    outline: none;
    box-shadow: none;
}

.telegram a img {
    width: 15px;
}

.telegram a {
    color: var(--third);
}

@media screen and (min-width: 990px) {

    .header-main {
        margin: auto;
        max-width: 930px;
    }

    .header-center button {
        display: flex;
        align-items: center;
        border: #fff;
        background-color: #efeeef;
        padding: 0 20px 0 20px;
        border-radius: 0 20px 20px 0;
        border-left: 1px solid var(--white);
    }

    .header-center input {
        display: flex;
    }

    .logo {
        display: none;
    }

    .logo-largo {
        display: block;
        padding-left: 15px;
    }

    .header-right::before {
        display: none;
    }

    .header-left {
        display: flex;
        margin-left: 9px;
    }

    .header-center {
        display: flex;
        flex: 0;
        justify-content: center;
        margin: 0 50px 0 50px;
        
    }

    .header-right {
        display: flex;
        margin-right: 33px;
    }

    .telegram {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }

    .btn-bag {
        margin-right: 0;
        padding-right: 0;
    }

    .btn-bag::before {
        content: "l";
        display: flex;
        height: 1px;
        font-size: 60px;
        position: relative;
        bottom: 23px;
        right: 23px;
        font-weight: 100;
    }

    .telegram a {
        text-decoration: none;
    }

    .telegram a:hover {
        color: black;
    }

    .telegram a span {
        font-family: Oswald;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .search-btn {
        width: 15px;
    }
}

@media screen and (min-width: 1150px)  {

    .header-main {
        max-width: 1100px;
    }

    .header-center input {
        width: 363px;
    }
    .header-left {
        
        margin-left: 50px;
    }

    .header-center {
        margin: 0 80px 0 80px;
    }

    .header-right {
        margin-right: 38px;
    }

    .btn-bag {
        margin-right: 0;
        padding-right: 0;
    }

    .logo {
        width: 150px;
    }

    .logo-largo {
        padding-left: 0;
    }
}