:root {
    --primary: #4CA4F0;
    --primary-dark: #4693d6;
    --secondary: #DE64B7;
    --secondary-dark: #95126b;
    --third: #9779cd;
    --white: #fff;
    --white2: #ebf3f5;
    --gray: #e1e4e5;
    --gray2: #c0c6c9;
    --gray3: #f4f4f4;
    --black: #323333;
    --black2: #2a2b2b;
}
