:root {
    --primary: #4CA4F0;
    --primary-dark: #4693d6;
    --secondary: #DE64B7;
    --secondary-dark: #c95ca6;
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --gray: #e1e4e5;
    --gray2: #c0c6c9;
    --gray3: #4b4c4d;
    --black: #323333;
    --black2: #2a2b2b;
}